[2020-10-25 20:59] EmberOn opened #1 "html tags keyword arguments without quotes"
In bin.html, some tags don't have quotes in their keyword arguments. Like type, id, method, charset arguments ; example :
[code]
even though html is not sensitive, charset by example stay sensitive, code have to be converted to :
[code]

[2020-10-26 00:20] Julien00859 commented on #1
From the html specification they are called *Unquoted attribute value syntax* which is a valid (yet uncommon) way to write attributes. See https://html.spec.whatwg.org/multipage/syntax.html#attributes-2 . Are you sure about the charset ?

You made me validate the html via the standard https://validator.w3.org/ validator. Every thing seems to be ok except for the `<a><button></button></a>`.

[2020-10-26 00:27] AntoineJT commented on #1
I don't think the problem is the HTML charset, but more the storage encoding.
As you can see with the image below it has encoding problems
![image](https://user-images.githubusercontent.com/26577763/97123109-5cec7e00-172a-11eb-9d16-a5becf1f8252.png)

[2020-10-26 00:36] Julien00859 commented on #1
That's sure is a problem! @AntoineJT Could you open a new issue and provide original content + the html output when it is saved ?

[2020-10-26 00:45] AntoineJT opened #3 "Encoding problem"
The encoding problem seems to be related to the way it is stored, as long as it doesn't come from the HTML meta charset tag.

![image](https://user-images.githubusercontent.com/26577763/97123517-85757780-172c-11eb-955c-4de887770e4f.png)

When I wrote:

It then outputs:

And the HTML is:
[code]
which confirms that the problem is not from the HTML meta charset tag

*P.S.: Sorry for the stupid dummy

[2020-10-26 00:46] EmberOn commented on #1
My bad i thought the quotes "absence" in `<meta charset=utf-8>` provides the encoding error. But no with the @Julien00859 answer <a href="https://github.com/readthedocs-fr/bin/issues/1#issuecomment-716238499">here</a>

[2020-10-26 00:46] AntoineJT commented on #1
@Julien00859 Yes, I've done thatd in #3
And I'm 100% sure the problem does not comes from the HTML meta charset

[2020-10-26 00:48] Julien00859 commented on #1
Thank you for the issue, I'll investigate it tomorrow. @EmberOn as the situation have been clarified not to be the quotes, may I close this issue ?

[2020-10-26 00:50] EmberOn commented on #1
Yes you can 👍🏼

[2020-10-26 00:51] #1 closed

[2020-10-26 09:04] #3 closed

[2020-10-26 11:28] Julien00859 commented on #4
@TNtube it sures is a problem of css, what do you think we split the template in two? I kinda thought it would be a good idea to have a single html file and to use the templating engine of bottle to "select" to show the new bin form or the show one existing bin. I think spliting the html/css/js in distinct files would be better.

[2020-10-26 11:29] Julien00859 commented on #4
Yup, css error there

https://github.com/readthedocs-fr/bin/blob/a310e591a34925acf6328b0325678715f418eb52/assets/bin.css#L12

[2020-10-26 11:59] Julien00859 commented on #5
My opinion on the matter is that we don't just send the bin as raw content, we also send the html envelope. I don't know if it is possible to inject compressed content (the bin) inside a compressed container (the html envelope). Also we should stay compatible with the standard deflate/gzip.

[2020-10-26 12:00] Julien00859 commented on #5
@TNtube wanna give it a shot ? :yum:

[2020-10-27 22:25] NoeMastrorillo commented on #1
coucou

[2020-10-28 20:35] Julien00859 opened #4 "Bootstraping"
Développer les fonctionnalités de bases

[2020-10-28 20:36] Aakodal opened #5 "Longévité des snippets"
Au lieu de limiter les snippets dans le temps, nous avons décider de limiter la taille de la base de donnée Redis. Ainsi, lorsque l'usage mémoire sera trop conséquent (valeur à déterminer), les snippets peu lus et plus anciens seront supprimés pour laisser place aux nouveaux. Cela sera réalisable grâce au mécanisme LRU de Redis.

Les snippets pourront tout de même avoir une limite de temps choisie

[2020-10-28 20:37] Aakodal opened #6 "Implémentation de la persistance via Redis"
Nous avons décider d'utiliser une base de données **Redis**. Le snippet et les meta-data seront sauvegardés dans un `HASH` ; la clé sera l'identifiant unique du snippet.

## Structure du Hash envisagée (représentation sous forme de dictionnaire) :
[code]
_(Editez pour corriger la structure, j'ai oublié ce qu'on avait dit exactement)_

Voir Issue #10 : **Système de versionning (enfant -> parent)**.

[2020-10-28 20:37] Aakodal opened #7 "Numérotation des lignes"
Chaque ligne des snippets seront numérotées afin de pouvoir plus facilement indiquer les lignes importantes/posant problème lors des partages de ces snippets.

[2020-10-28 20:37] Aakodal opened #8 "Implémentation de la coloration syntaxique (highlight.js)"
Les snippets seront colorés d'une manière élégante pour améliorer leur lisibilité. Cette coloration syntaxique se fera grâce à la librairie **highlight.js** et en fonction du langage choisi par l'utilisateur lors de la création du snippet.

[2020-10-28 20:37] Aakodal opened #9 "Ancre pour lier une ligne précise dans un snippet"
Les utilisateurs auront la possibilité de marquer/ancrer une ligne dans un snippet et cela ajoutera le numéro de la ligne dans l'URL. Ainsi, lorsque d'autres utilisateurs se rendront sur le lien, la ligne sera surlignée et directement au centre de la page (si le snippet a une taille supérieur à la taille de la page), comme c'est possible sur github. Cela permet de partager plus facilement des lign

[2020-10-28 20:37] Aakodal opened #10 "Système de versionning (enfant -> parent)"
Il sera possible sur chaque snippet de faire une "révision" de celui-ci, c'est à dire une version modifiée/corrigée de celui-ci. Chaque snippet sera donc relié à son parent via un lien cliquable sur l'interface.

Les limitations de Redis font qu'il sera difficile d'établir une relation entre un snippet et ses révisions (lister les différentes révisions du snippet), et nous avons donc décidé dans u

[2020-10-28 23:41] NoeMastrorillo commented on #4
Ça serait bien de séparer le bootstraping du serveur python et celui du front en html/css/js pour bien avoir les différents contributeurs sur les 2 parties différentes.

[2020-10-28 23:50] Aakodal opened #14 "(Discord) Bloc de code -> bin"
Cette fonctionnalité se fera à l'aide d'un bot Discord, nommé [ReadTheBin](https://github.com/readthedocs-fr/read-the-bin).

Roadmap :
- [x] Gestion des blocs de code comportant au minimum 20 retours à la ligne (`\n`). Le message original est supprimé et un message identique est envoyé à l'aide d'un embed, remplaçant les blocs de code par les liens des bins.
- [x] Le message envoyé par le bot peut

[2020-10-28 23:59] NoeMastrorillo commented on #14
Je pense que tu peux faire un dossier bot pareillement au dossier bin où tu pourras dev le bot, ou alors il faudrait faire un autre repo pour pas mélanger les dépendances. À voir avec les autres.

[2020-10-29 00:01] Aakodal commented on #14
C'est surtout que ce sont deux langages différents et deux projets différents.

[2020-10-29 00:03] AntoineJT commented on #14
Cela irait probablement plutôt dans un bot du type boombot, mais pas forcément nommé comme ça
Il faudrait voir avec TnTakara à la rigueur, quitte à faire un bot spécialisé dans l'upload de bins, et plus tard, si on se retrouve avec plein de bots spécifiques à RtD, les remplacer par un bot unique du type boombot

**Edit:** Pour le moment faire un bot spécialisé semble une bonne solution, quitte à l

[2020-10-29 00:05] NoeMastrorillo commented on #14
Mais du coup ça serait bien que tout le monde puisse aussi participer au bot. Tu le fais avec quel langage ?

[2020-10-29 00:11] Aakodal commented on #14
TypeScript, le tout en reprenant un micro-framework basique mais qui fait le taf de ma conception. Ainsi je profite de l'expérience et des retours sur mon code pour améliorer mes compétences ainsi que ledit code (je ne dépend donc pas d'un framework tiers)

**Edit :** il sera bien évidemment open source et, si @AntoineJT me le permet, disponible sur l'organisation

[2020-10-29 00:13] AntoineJT commented on #14
Qu'il soit disponible sur l'organisation est justement le but, je te ferai un dépôt quand tu en auras besoin

[2020-10-29 00:18] Julien00859 commented on #4
Naaaan, avoir des conflits ça va vous forcer à apprendre git :D (je suis sérieux)

[2020-10-29 00:20] Julien00859 commented on #4
Puis les fichiers seront séparés, on aura un fichier html dédié, un fichier css dédié, des fichiers js dédiés donc yaura pas de conflit. Faire du inline c'est juste une mauvaise idée x)

[2020-10-29 00:25] Julien00859 commented on #14
Autant je trouve ça normal que le code se trouve sur un projet à part, autant je trouve que les issue/pr/project devraient être communes. Le bot ne serait au final qu'un autre "client" au même titre que la page web et donc pourrait être hébergé directement ici.

[2020-10-29 09:20] Aakodal commented on #14
J'avoue ne pas trop avoir compris ce que tu proposes ici

[2020-10-29 09:22] Julien00859 commented on #14
De mettre ton code dans un dossier de ce repo, même si c'est un sous-projet "à part" et qu'il aurait ses propre dépendances ça faciliterait la centralisation niveau issues/pull request/projet

[2020-10-29 09:42] Aakodal commented on #14
Pourquoi pas. @AntoineJT ?

[2020-10-29 09:51] Aakodal commented on #14
On pourrait donc voir la branche main comme ceci :
.
|- rtd-bin/
ʟ read-the-bin/

avec rtd-bin/ le dossier pour le service de bins, et read-the-bin/ le code du bot

**Edit :** comme l'a proposé Tim, on peut également faire un système de "sous-module git", ainsi on retrouve le bot sur le repo bin, et peut-être inversement.

[2020-10-29 13:16] Julien00859 commented on #14
Let's only have dedicated folder for the source code and mixup the meta-files (python setuptools's `setup.py`, node npm's `package.json`) in the root folder. There will be just a few files mixed-up and on several repositories I see on github the root folder gets pretty bloated with all the external service configurations anyway soo...

    .
    |- bin/
    |-- views/
    |-- __init__.py
    |-- _

[2020-10-29 13:32] Aakodal commented on #14
Ce serait assez messed up, surtout quand dans la racine du bot t'as un dossier src/, les fichiers d'ESLint et de Prettier, le package et package-lock, le readme, et tous les fichiers .ignore

[2020-10-29 13:43] Julien00859 commented on #14
ouais le root serait messed-up mais de toute manière le root fini toujours par être complètement messed-up... un repo complètement tiré au hazard:

![2020-10-29_14-42-11](https://user-images.githubusercontent.com/8208953/97581589-0b2b4880-19f5-11eb-924a-d61b8610ccb1.png)

Tu pourrais faire un `tree` de ton côté qu'on voit l'ampleur des dégâts si on le fait comme je propose ?

[2020-10-29 21:50] #4 closed, assigned to Julien00859

[2020-10-30 14:35] #6 closed, assigned to nobody

[2020-10-30 14:35] NoeMastrorillo commented on #5
On met sur combien la taille maximale de la db ?

[2020-10-30 17:35] Julien00859 commented on #5
200 Mo ? Ce sera large.

[2020-10-30 17:37] NoeMastrorillo commented on #5
Ok de toute façon ça c'est sur la bdd directement qu'il foudra le configurer.

[2020-10-30 19:17] fusetim opened #18 "RFC 03 - Configuration"
# RFC 03 - Configuration

Ce document est une RFC (__Request for Comments__), toute critique est la
bienvenue à partir du moment où elle se veut constructive.

Statut du document : Proposition
Dernière révision le : 30 octobre 2020 à 20 h 39
Auteurs : FuseTim

## Résumé

Nous énumérerons les différents moyens de mettre en place la configuration de
notre projet rtd-bin, service de pastebin de la co

[2020-10-30 19:30] NoeMastrorillo commented on #18
Je pencherais pour le fichier de configuration, ça me paraît le plus pratique et polyvalent.

[2020-10-30 19:58] Julien00859 commented on #18
Je pencherais pour toujours passer par `os.getenv()`, ça fera une source unique de vérité à charger et le plus simple à packager avec un service sur linux : `EnvironmentFile=/etc/bin.conf`, docker a un fonctionnement similaire. On peut configurer l'application directement via la ligne de commande : `REDIS_DATABASE=localhost python3 -m bin`. On peut aussi configurer l'application via un fichier d'e

[2020-10-30 20:14] NoeMastrorillo opened #19 "Problème : Les requêtes GET qui retournent des templates sont doublées"
J'ai pu remarquer en faisant le système de longévité des snippets (en fonction du nombre d'utilisations) que les requêtes GET renvoyant des templates sont doublées.

### Comment reproduire le problème :
- Lancer le serveur à l'aide de la commande `.\venv\Scripts\python -m bin` sur Windows ou `/venv/bin/python -m bin` sur Linux (en considérant que vous êtes à la racine du projet et que vous avez in

[2020-10-30 20:46] Julien00859 commented on #18
By the way, je viens de lire que 12-factors app conseillent de passer par les env pour gérer la config <https://12factor.net/config>

[2020-10-30 21:26] Julien00859 commented on #5
On peut fournir un fichier de configuration d'exemple avec les instructions sur comment l'utiliser. On peut faire une page dans le wiki pour ça :)

[2020-10-30 21:28] NoeMastrorillo commented on #5
Yep ça me serait utile merci 👌
Et aussi faudrait qu'on fixe #19 au plus vite mais j'ai vraiment rien trouvé sur internet.

[2020-10-30 21:32] Julien00859 commented on #19
J'y regarde quand j'ai mergé @Acaretia

[2020-10-31 01:05] NoeMastrorillo commented on #19
J'ai pu trouver un poste concernant non pas bottle mais flask mais ayant le même soucis, et ça pourrait venir des extensions de mon navigateur. Je testerai d'en enlever demain.

Le poste en question : https://stackoverflow.com/questions/59590884/why-the-get-request-in-flask-is-called-twice

[2020-10-31 10:13] NoeMastrorillo commented on #19
J'ai désactivé toutes mes extensions mais ça n'a pas l'air de changer quelque chose. Pourtant avec curl j'ai bien qu'une seule requête GET, mais en même temps ça me le fait sur tous mes navigateurs, donc c'est propre aux navigateurs mais en même temps pas propre au navigateur... Est-ce que vous avez le même soucis vous ?

[2020-10-31 10:33] NoeMastrorillo commented on #19
L'issue semble être partie avec le nouveau front, je sais pas du tout d'où ça pouvait venir mais c'est cool j'vais pouvoir avancer sur #5

[2020-10-31 13:44] #18 closed, assigned to nobody

[2020-10-31 13:55] Julien00859 opened #24 "Packaging Linux"

[2020-10-31 22:26] nathan-trioleyre opened #29 "La marge gauche du code lors de la création d'un nouveau snippet est trop courte"

[2020-10-31 22:27] NoeMastrorillo commented on #29
T'aurais au moins pu mettre une description :derp:

[2020-11-01 16:13] Julien00859 commented on #8
Qu'est-ce qu'il reste à implémenter pour cette feature ?

[2020-11-01 19:28] NoeMastrorillo commented on #8
Rien il me semble, tu peux close

[2020-11-01 19:41] #8 closed, assigned to nobody

[2020-11-06 21:36] #7 closed, assigned to nobody

[2020-11-06 22:10] NoeMastrorillo opened #32 "Système d'unités de temps pour les valeurs de durées"
Pour notamment la durée limite des snippet (#5), on a jugé utile d'avoir un système qui transformerait une unité de temps (par exemple `15min`) en secondes, un peu à la manière de [ce système].(https://gist.github.com/Julien00859/a63f6b830547059795689e549045853f)
Les différentes unités possibles seraient :
- `s`: secondes
- `min`: minutes
- `h`: heures
- `d`: jours

[2020-11-06 22:31] Julien00859 commented on #32
Ce qui serait top serait d'en faire une lib qu'on pourait ajouter dans les dépendances, faudrait faire pareil pour mon gist

[2020-11-06 22:34] NoeMastrorillo commented on #32
Du coup je mets les trucs dans un autre dossier que `bin/` ? genre `units/`

[2020-11-07 02:28] Julien00859 commented on #32
Je suis en train de faire un package avec mes trucs tkt ça arrive
https://gist.github.com/Julien00859/a63f6b830547059795689e549045853f

[2020-11-07 13:09] #32 closed, assigned to NoeMastrorillo

[2020-11-07 15:14] NoeMastrorillo opened #34 "Front: Ajouter les options pour pouvoir choisir le nombre d'utilisations et le temps max des snippets"
Jusqu'à présent le nombre d'utilisation max et le temps de vie des snippets n'est définissable que via curl avec le multi-part form. Il faut donc ajouter 2 fields dans le formulaire sur le front pour ces deux paramètres. Ces deux fields doivent avoir une option "infini" et doivent être par défaut sur les valeurs définies dans `config.py`.

[2020-11-30 00:37] Julien00859 opened #37 "On pourrait faire un truc automatisé au niveau du backend au lieu de devoir mettre tous les langages qu'on a déjà mis dans les utils."
On pourrait faire un truc automatisé au niveau du backend au lieu de devoir mettre tous les langages qu'on a déjà mis dans les utils.

_Originally posted by @NoeXWolf in https://github.com/readthedocs-fr/bin/pull/35#issuecomment-735374062_

[2020-11-30 07:46] Aakodal commented on #37
Je vais pas m'avancer dessus étant donné que j'ai aucune idée de comment faire, mais par contre faut faire gaffe aux noms des langages : tous ne sont pas composés d'une majuscule et du reste en minuscule (HTML, SQL, CSS, PHP, JavaScript...). Du coup, mon idée c'était de récupérer les langages dans l'utils en prenant dans le newform.html (je sais pas si c'est possible ?), vu que si on fait dans ce

[2020-11-30 10:28] NoeMastrorillo commented on #37
Oui mais dans le front y'a pas les extensions. Je pensais qu'on pourrait stocker les langages avec extension, nom de l'option et nom complet dans un fichier genre du json ou autre fichier de configuration, et on les récupère dans le front avec un script js qui va générer les options et dans le back dans les utils.

[2020-11-30 10:30] Aakodal commented on #37
Si, le front a les extensions, c'est justement le `value=""` à chaque `<option>`

[2020-11-30 12:04] Julien00859 commented on #5
Ne pas oublier qu'il faut ajouter un menu dans le frontend pour rendre tout ceci facilement configurable !!

[2020-11-30 12:05] Julien00859 commented on #5
CC #34

[2020-11-30 12:08] NoeMastrorillo commented on #5
J'voulais le faire mais j'ai abandonné j'suis trop nul en front

[2020-11-30 12:13] NoeMastrorillo commented on #37
Je me suis trompé, c'est le nom brut des langages que highlight.js utilise qu'il manque dans le front.

[2020-11-30 12:15] Aakodal commented on #37
AKA le nom affiché, en minuscules et les espaces retirés ? 👀

[2020-11-30 12:16] NoeMastrorillo commented on #37
Ouais bon n'empêche que c'est dégueulasse de récupérer les langages via le front

[2020-12-04 18:18] Hokkaydo opened #39 "Tabs support"
Ce serait une feature intéressante que de supporter les tabulations dans le code.
Actuellement, il est possible d'indenter proprement son code sans le copier-coller ou utilisez la barre espace.

A propos de ça, il pourrait également être intéressant de pouvoir modifier la taille d'une tabulation d'indentation en bas de l'écran.

### Résumé :
  - Supporter les tabulations
  - Permettre de modifier

[2020-12-04 18:43] Julien00859 commented on #39
Le support des tabs est déjà possible si tu utilises le service via curl

[2020-12-05 14:22] #39 closed, assigned to nobody

[2020-12-05 15:24] #24 closed, assigned to nobody

[2020-12-05 15:35] fusetim commented on #5
Ne devrait-on pas fermer cette issue ?

[2020-12-05 17:03] Julien00859 commented on #5
Il manque l'UI

[2020-12-05 17:30] Julien00859 opened #44 "Tests unitaires"
Il faut mettre en place une stratégie de tests unitaire et l'incorporer à de l'intégration continue.

Il existe deux bibliothèques pour les tests unitaires en python: unittest dans la bibliothèque standard et pytest comme module externe. Chacune a ses avantages et inconvéniants.

L'ensemble de ces tests doivent être écrit:

* Tester `bin/utils.py` ne devrait pas poser de problème
* Tester `bin/mod

[2020-12-05 17:37] Julien00859 commented on #44
Niveau structure des fichiers, je propose qu'on ajoute un dossier `tests` à la racine du project. Ce dossier serait un module python (penser à rajouter un `__init__.py` vide dedans) ou chaque fichier serait une suite de test pour une partie différente. Pour être compatible avec unittest, le nom de chaque fichier contenant un test doit être préfixé par `test_`. Au sain du module, on peut importer l

[2020-12-05 17:43] Julien00859 opened #45 "Intégration continue"
Dépend de #44

Afin d'assurer que chaque contribution externe ne casse pas le projet, je propose d'ajouter un mécanisme d'intégration continue via une quelconque technologie (github actions, travis, jenkins, ...) afin de faire passer la batterie de tests unitaires pour chaque nouvelle pull-request.

Vu qu'incorporer un tel outil vient changer le process de développement, un effort devra être fait

[2020-12-05 17:46] AntoineJT commented on #45
Je pense que GitHub Actions serait très approprié pour ça

[2020-12-05 20:19] fusetim commented on #5
En effet, je suis passé à côté

[2020-12-06 17:12] enimaloc opened #46 "Problème de barre horizontale de scroll non souhaitée"
Le scroll de la page ne se fait pas correctement, la numérotation de ligne ne suit pas, [exemple](https://rtdbin.fusetim.tk/arbipp.md)

[2020-12-06 17:13] Aakodal commented on #46
Je croyais que #40 avait fixé le truc :eyes:
@fusetim sûr que c'est pas toi qui aurait build une vieille version ou que sais-je ?

[2020-12-06 17:13] AntoineJT commented on #46
C'est une vieille version

[2020-12-06 17:14] fusetim commented on #46
La version déployée est c00c9ac

[2020-12-06 17:16] AntoineJT commented on #46
J'en doute fortement
![image](https://user-images.githubusercontent.com/26577763/101287192-13925280-37ef-11eb-9042-311c668a8372.png)

[2020-12-06 17:17] AntoineJT commented on #46
Cela ne peut pas être la version c00c9ac puisque style.css ne correspond pas à ce commit, étant donné que sur la version déployée il y a les lignes encadrées plus haut, alors qu'elle n'y sont plus à partir de ce commit : https://github.com/readthedocs-fr/bin/blob/c00c9acc974be1c01bf8dbaa3448f03a9d53de77/bin/assets/styles/style.css

[2020-12-06 17:23] Aakodal commented on #46
C'était un problème avec le cache Cloudflare, je close

[2020-12-06 17:24] AntoineJT commented on #46
Je rouvre, il y a bien un problème, même après reload du cache CloudFlare
![image](https://user-images.githubusercontent.com/26577763/101287390-4ee15100-37f0-11eb-8672-e2a50ed0351a.png)

[2020-12-06 18:04] Julien00859 commented on #46
Hello est-ce que quelqu'un peut vérifier avec #42 que le problème est bien corrigé ?

[2020-12-06 18:35] NoeMastrorillo commented on #46
Yep c'est nickel.

[2020-12-08 19:43] Julien00859 opened #48 "Packaging Docker"

[2020-12-08 19:43] #48 closed, assigned to nobody

[2020-12-23 11:44] Julien00859 commented on #14
@Aakodal je me permet de te ping ici vu que ton bot est mostly béta-tested. Aussi je me permets de rebump la discussion de peut-être mergé les deux repos. J'ai toujours dans l'idée qu'avoir les issues/pr à un seul endroit serait bénéfique (ce serait-ce que pour la communauté, un seul repo à partager tu vois ?), cf https://github.com/readthedocs-fr/bin/issues/14#issuecomment-718745388

[2020-12-23 12:05] Aakodal commented on #14
Après niveau host par exemple, quand faut update un des deux services, bah faut pull l'intégralité des trucs

[2020-12-23 12:19] Julien00859 commented on #14
Si on inclue une stratégie de déploiement continue alors on n'a plus de problème. Aussi, le bot et le bin sont intrinsèquement liés, une modif pas backward-compatible avec le bot doit être fixé dans le bot également.

[2020-12-23 12:26] Julien00859 commented on #14
https://www.strawpoll.me/42333426

[2020-12-23 13:16] Mesteery commented on #14
Perso je suis contre, c'est deux langages différents et ca serait compliqué niveau organisation je trouve

[2020-12-23 14:38] AZ-0 opened #49 "Problem: possible XSS when accessing raw html snippets"
## Reproduce XSS attack
1. Create a snippet containing the following code (the selected language in the dropdown list doesn't matter):
[code]

The generated url should look like `https://rtdbin.fusetim.tk/upfila.html`

2. Add `/raw` right after the root: `https://rtdbin.fusetim.tk/raw/upfila.html`
3. Navigate to the new url: you will notice the javascript code is executed
![image](https://user-ima

[2020-12-23 18:29] Julien00859 commented on #49
Hello @AZ-0 thank you for the bug report, would you mind to review the proposed fix ?

[2020-12-23 19:27] #49 closed, assigned to Julien00859

[2020-12-23 19:31] #37 closed, assigned to nobody

[2020-12-23 19:32] #46 closed, assigned to nobody

[2020-12-25 14:34] Mesteery opened #54 "Pygments reconnait mal les regexs"
`pygments` a l'air d'avoir du mal a reconnaitre les regex (typescript / javascript) : https://rtdbin.fusetim.tk/ggeete.js

[2020-12-25 18:50] Mesteery opened #55 "Minification des assets"
Je pense que ce serait intéressant de minifier les assets (styles et scripts).

[2020-12-25 18:55] fusetim commented on #55
Pourquoi pas si c'est automatisé à l'aide d'un script (à lancer à l'installation en prod).
Il faudra d'ailleurs peut-être l'ajouter au Dockerfile si l'idée est retenue.

[2020-12-25 20:00] Julien00859 commented on #54
L'erreur est à rapporter sur le projet pygment directement

[2020-12-25 20:00] #54 closed, assigned to nobody

[2020-12-25 20:41] Julien00859 commented on #55
Très bonne idée, je pense que c'est à faire lorsqu'on aura de l'intégration continue, que le package généré (le .whl) contienne des assets minifiés

[2020-12-26 18:45] #34 closed, assigned to nobody

[2020-12-26 18:49] #29 closed, assigned to nobody

[2020-12-26 18:49] #44 closed, assigned to nobody

[2020-12-26 18:50] #19 closed, assigned to Julien00859

[2020-12-26 18:52] Julien00859 commented on #5
Fixé par #53

[2020-12-26 18:52] #5 closed, assigned to NoeMastrorillo

[2021-01-01 12:54] #9 closed, assigned to fusetim

[2021-01-06 21:00] #45 closed, assigned to AntoineJT

[2021-01-06 23:04] Mesteery opened #64 "Vérification de l'unicité de l'identifiant d'un bin"
Il faut vérifier si un bin avec la même ID n'existe pas déjà avant de créer un nouveau bin, afin d'éviter un potentiel écrasement.

[2021-01-06 23:06] AntoineJT opened #65 "Vérification de l'unicité du nom d'un bin"
Il faudrait vérifier qu'un bin n'existe pas avant de le créer, afin d'éviter les conséquences d'un potentiel clash de noms.

[2021-01-06 23:22] IAMISSAM opened #66 "Rajouter une utilisation max"
Car la redirection à la création d'un bin consomme une utilisation, ca serait bien de rajouter une utilisation quand l'utilisateur en a spécifié une pour que le nombre choisi soit plus cohérent.

[2021-01-06 23:32] x0rld commented on #66
il faudrait que ça soit par ip unique parce que si on rechage la page ça foire le truc

[2021-01-06 23:35] AntoineJT commented on #66
Il faudrait plutôt rajouter une utilisation quand le bin a été créé via l'interface web, mais ne pas en ajouter une lorsqu'il a été créé via cURL

[2021-01-06 23:42] Julien00859 commented on #66
Pas génial au niveau des RGPD puis si le gars refresh 5x je trouve ça normal que ça consomme 5 utilisations

Edit: [confirmé par Améthyste](
https://www.cnil.fr/fr/ladresse-ip-est-une-donnee-caractere-personnel-pour-lensemble-des-cnil-europeennes)

[2021-01-06 23:43] x0rld commented on #66
ok why not c'était juste une idée

[2021-01-06 23:43] Julien00859 commented on #66
Aussi je précise que le dataset propose déjà `2` dans les suggestions

[2021-01-06 23:43] Mesteery commented on #66
Le plus simple, ce serai de pas compter la première visite. Ou bien plus simplement ajouter +1, sauf que faudrait gérer le -1.

[2021-01-06 23:46] AntoineJT commented on #66
Si au lieu de mettre 2 utilisations en interne on en met 3, pas besoin de gérer le -1 comme un 0 de façon pas très propre
Il suffirait, quand le bin est créé via l'interface web, de rajouter une utilisation qui serait directement consommée dès la création, via l'accès automatique au bin nouvellement créé.

[2021-01-06 23:46] Julien00859 commented on #66
Le plus simple c'est de mettre un tooltip d'avertissement lorsque l'utilisateur met 1 dans son interface, voir d'interdire 1 comme valeur

[2021-01-06 23:48] #65 closed, assigned to nobody

[2021-01-06 23:49] Mesteery commented on #66
Je suis d'accord pour une alerte lorsque l'user met 1.
D'ailleurs, 0 est compté comme infinie.

[2021-01-06 23:51] Julien00859 commented on #66
Interdire 0 dans le front et le back
Avertir pour 1 dans le front

👍 / 👎

[2021-01-06 23:56] Julien00859 opened #67 "Mettre à jour la doc pour gunicorn"
Mettre à jour la doc pour le nouveau `--help` et inclure un paragraphe pour l'hébergement derrière gunicorn

[2021-01-07 00:03] lahgolz opened #68 "Mettre le minimum de temps et d'utilisation à 0"
Si l'on met le minimum de temps et d'utilisation d'un bin à 0 (en prenant en compte le fait que 0 désignerait l'infini), nous n'avons plus de problème entre -1 et 0 pour l'infini.

[2021-01-07 00:07] Julien00859 commented on #68
#66

[2021-01-07 00:07] #68 closed, assigned to nobody

[2021-01-07 00:08] Julien00859 commented on #66
https://github.com/readthedocs-fr/bin/issues/68#issue-780922970

[2021-01-07 03:08] #66 closed, assigned to nobody

[2021-01-07 03:11] Julien00859 opened #70 "Change the url to bin.readthedocs.fr"
https://github.com/readthedocs-fr/bin/blob/db54c2fe4043a451570566854ff516b822060fce/rtdbin.sh#L4

[2021-01-12 20:45] bacddd commented on #10
Il faut bien récupérer le contenu de l'ancien paste et l'ajouter à un nouveau qui soit modifiable?
(je demande car j'ai commencé mais en essayant de faire rééditer le snippet )

[2021-01-12 20:58] #14 closed, assigned to Mesteery, Aakodal

[2021-01-13 02:51] Julien00859 commented on #10
Oui c'est bien ça, donc modifier le template `newform.html` qu'on puisse injecter du texte pré-défini dans la textarea et choper le code depuis redis.

[2021-01-13 08:50] #70 closed, assigned to nobody

[2021-01-14 13:39] Linekio opened #74 "Sauvegarder un bin avec Ctrl+S"
Ça serait bien de pouvoir sauvegarder son bin avec un ctrl+s, qu'en pensez vous ?

[2021-01-14 14:37] Kawacrepe commented on #74
Super idée !

[2021-01-15 01:36] #67 closed, assigned to nobody

[2021-01-15 20:09] Mesteery opened #77 "Scroll vertical inutile quand le code dépasse horizontalement"
Du moins sur un téléphone, un scroll vertical apparait inutilement, quand le code dépasse la page horizontalement (il y a un scroll horizontal, mais ca c'est normal).

https://bin.readthedocs.fr/ableni.txt :
![Useless vertical scroll](https://user-images.githubusercontent.com/48163546/104773735-ce5e2a80-5775-11eb-916f-db62e9486326.png)

[2021-01-16 17:37] #64 closed, assigned to nobody

[2021-01-21 22:47] QuentinBubu opened #81 "Sur mobile, accéder à une page télécharge le fichier plutôt que de l'afficher"
Salut,
Petites suggestion, faire en sorte de mettre le code dans un fichier html par exemple, car, avec les fichiers txt notamment, le navigateur nous les téléchargent au lieu de nous afficher le code dans le navigateur du fait de l'extension

[2021-01-22 01:41] Julien00859 commented on #81
Bonjour Quentin, merci pour ton intérêt pour notre produit !

Je ne comprend pas exactement le problème que tu décris, nous définissons le header http `Content-Type: text/html` lorsque tu accèdes à un snippet sur la route normale et le header http `Content-Type: text/plain` lorsque tu accèdes à la route /raw/. Normalement ton navigateur doit suivre cette directive en priorité de l'extension de la

[2021-01-22 01:59] Julien00859 commented on #81
Si le problème affecte des vieux navigateurs ou des appareils mobiles, on peut peut-être faire comme tu suggères, remplacer l'url par `/gondan.html?lang=text` si on détecte un vieux navigateur tout pourri via le header User-Agent.

[2021-01-22 02:00] KoukiFactori commented on #81
Hello,
J'ai testé de mon côté et je n'ai pas rencontré ce soucis sur les navigateurs que j'ai.

Build de Windows: Windows 10 20H2 19042

Chrome: `87.0.4280.141` et `88.0.4324.104`
Edge (Chromium): `87.0.664.75`
Firefox: `81.0.2`

[2021-01-22 07:04] QuentinBubu commented on #81
Sur ordinateur, comme dis c'est une vielle version avec win xp et chrome 20 et quelques... _oui oui, il y a encore des gens avec x)_ et du coup ça m'ouvre la page puis la referme en téléchargent le fichier.
Le plus embêtant c'est vraiment sur mobile ça le télécharge aussi, comme sur pc, ça ouvre le navigateur puis le referme et télécharge le fichier

Version Android: 8.0.0
Version Chrome: 88.0.432

[2021-01-22 10:33] Julien00859 commented on #81
Pour Windows ok, ce n'est pas un problème, voila plusieurs années que Microsoft a arrêté le support pour leur ancien OS voir https://docs.microsoft.com/en-us/lifecycle/products/windows-xp . On ne fixera pas le problème.

Pour Android c'est plus embêtant, on va voir ce qu'on peut faire.

[2021-01-22 15:56] Mesteery commented on #81
Bonjour,
J'ai exactement la même version de Chrome Android que toi et je n'ai pas du tout ce problème.
Cela vient sûrement de tes paramètres.

[2021-01-22 16:03] QuentinBubu commented on #81
Oui en effet, voyant que chez Nolan, ca ne le fait pas non plus, je me suis penché d'un peu plus près aux paramètres et j'ai modifié un truc _je ne saurais vous dire lequel_ et maintenant ça ne me télécharge plus les txt.
Désolé du dérangement

[2021-01-22 17:45] Julien00859 commented on #81
Pas de problème, je ferme donc l'issue comme il s'agit d'une "simple" mauvaise configuration du navigateur.

[2021-01-22 17:46] #81 closed, assigned to nobody

[2021-01-22 18:42] Mesteery opened #82 "front: style"
Je pense qu'on pourrait encore plus améliorer l'UI du front :
* [ ] un meilleur thème pour le code
* [ ] une meilleur font
* (d'autres améliorations ?)

Pour le coup, c'est que mon avis personnelle, et peut-être que ca plait a la majorité des personnes.

[2021-01-22 18:44] NoeMastrorillo commented on #82
On avait dit qu'on ferait une réunion pour discuter du thème etc... y'a 2 mois :kappa:

[2021-01-22 18:46] Mesteery commented on #82
Ah ouai ? J'étais pas au courant :derp:

[2021-01-22 19:44] nathan-trioleyre commented on #82
"Une nouvelle font" pour le code source ?

[2021-01-22 19:46] Mesteery commented on #82
https://bin.readthedocs.fr/lignis.txt (et pourquoi pas aussi pour https://bin.readthedocs.fr/)

[2021-01-22 19:47] nathan-trioleyre commented on #82
Ça marche !

[2021-01-22 19:48] nathan-trioleyre commented on #82
Personnellement, j'aime bien [**FiraCode**](https://github.com/tonsky/FiraCode). Il faudrait en discuter

[2021-01-22 22:40] Julien00859 commented on #82
La font elle est bien comme elle est...

[2021-01-22 22:47] Julien00859 commented on #82
Peut-être virer consolas pour que ce soit la police monospace préférée du navigateur

    font-family: Consolas, monospace;

[2021-01-23 07:31] Mesteery commented on #82
C'était pas la font que je visais le plus dans cette issue, c'est bien pour ça qu'elle est pas en première place. Même si je trouve personnellement qu'une font tel que FiraCode serait mieux, c'est que mon avis personnel, et la font n'a aucune réelle importance de cette issue.

[2021-01-24 03:58] Julien00859 commented on #82
On a eu plusieurs retours comme quoi les gens n'aimaient pas le colorsheme, il faudrait bosser en amont sur pygments pour en faire des nouveaux. On peut aussi faire notre style juste à nous.

[2021-01-24 04:00] Julien00859 opened #84 "Documentation"
On arrive doucement à la v1, il faudrait docstringuer les méthodes et ajouter une doc sphinx.

[2021-01-24 06:18] nathan-trioleyre commented on #82
Ou peut-être une possibilité de choisir entre 3-4 thèmes au niveau de l'affichage ? Genre 2 thèmes blanc et deux thèmes noires ?

[2021-01-25 13:11] Julien00859 opened #85 "Meilleure intégration discord du lien"
Pour le moment, lorsque discord vient un lien rtdbin, il affiche une petite intégration de la sorte:

![image](https://user-images.githubusercontent.com/8208953/105710100-ef154580-5f16-11eb-8eeb-dce1eed5dfef.png)

Je propose qu'on retravaille cette intégration pour par exemple remplacer "A simple pastebin" par "<language> snippet" dans la page `hightlight.html`. Peut-être intégrer d'autres modific

[2021-01-30 21:45] Mesteery commented on #82
Je pense qu'on devrait fixer un thème en fonction de la préférence dark/light de l'utilisateur grâce à la media query  [`prefers-color-scheme`](https://developer.mozilla.org/fr/docs/Web/CSS/@media/prefers-color-scheme).

[2021-01-31 15:10] #10 closed, assigned to bacddd

[2021-01-31 16:08] Mesteery commented on #77
Une solution serait de word-break :
[code]
Résultat :
![image](https://user-images.githubusercontent.com/48163546/106390099-0d7fb300-63e7-11eb-9eb0-d6930784682a.png)

[2021-02-02 11:54] #74 closed, assigned to nobody

[2021-02-08 16:49] Julien00859 opened #91 "Faire que discord ne consomme pas des utilisations"
Lorsque le lien d'un bin est partagé sur discord, discord fait des requêtes GET gratuites pour prévisualiser le contenu de la page. Ce serait bien que discord ne consomme pas des *maxusage*.

[2021-02-08 17:12] fusetim commented on #91
Est ce que blacklist les bots dans un robots.txt réglerait le problème ?

[2021-02-08 17:17] nathan-trioleyre commented on #91
Faudrait juste pas incrémenter lorsque que c'est discord qui fait la requête

[2021-02-08 17:19] AntoineJT commented on #91
Yep, je peux m'en occuper mais il me faudrait plus d'infos sur la requête que discord envoie au serveur (IP, ou headers spécifiques, etc.)
La gestion des vues restantes est effectuée ici : https://github.com/readthedocs-fr/bin/blob/main/bin/models.py#L45

[2021-02-08 18:08] Mesteery commented on #91
Je te dit ça de suite.

[2021-02-08 18:48] Mesteery commented on #91
[code]
UserAgent: `Mozilla/5.0 (compatible; Discordbot/2.0; +https://discordapp.com)`
IP: `35.227.62.178`

Se baser sur l'user-agent ne serait pas fiable. L'IP a l'air d'être tout le temps la même, mais ca reste a vérifier.

[2021-02-08 18:55] Mesteery commented on #91
J'ai vérifier et l'IP n'est pas toujours la même suivant la région j'imagine : `35.237.4.214`.

[2021-02-08 18:58] AntoineJT commented on #91
Je ne peux décidément pas matcher sur l'user-agent, des gens pourraient l'utiliser pour que leurs vues ne soient pas comptabilisées, et je ne pense pas que ce soit une bonne idée.
Récupérer toutes les IP utilisées par Discord et mettre à jour cette liste risque d'être fastidieux et à terme il pourrait y avoir des IP dans la whitelist qui n'appartiendraient plus à Discord.
Du coup, je ne vois pas t

[2021-02-08 19:10] Mesteery commented on #91
Apres beaucoup de tentatives avec toutes les régions possibles, voici les seules IP qui ressortent : `35.237.4.214`, `35.196.132.85` et `35.227.62.178`. Elles sont tous détenus par Google Cloud.

[2021-02-08 19:25] Mesteery commented on #91
[code]
Une liste beaucoup plus exhaustive *(merci https://udger.com/resources/ua-list/bot-detail?bot=Discordbot)*.

[2021-02-09 07:15] DeltaEvo commented on #91
Une bonne solution je penses est de matcher sur l'user agent mais de ne pas envoyer le contenu du bin dans ce cas, juste le head pour que le crawler fasse l'embed

Et ça vaudrai le coup d'ajouter plus que discord
https://github.com/monperrus/crawler-user-agents

[2021-02-10 23:54] #84 closed, assigned to Julien00859

[2021-02-11 01:17] Julien00859 commented on #77
Peut-être est-ce qu'on devrait se poser des questions fondamentales d'UI sur phone ?

[2021-02-11 01:37] Mesteery commented on #77
Ici ce n'est pas forcement que sur téléphone, c'est pas un problème d'UI mais bel et bien d'un bug (a cause de moi). Il peut aussi être présent sur des écrans de petites tailles, comme des tablettes, ou des petits écrans (ordinateurs portables, etc.)

[2021-02-11 02:03] Julien00859 commented on #77
J'ai peur qu'en activant le word-wrap ça rende vraiment n'imp sur phone

[2021-02-11 02:13] Mesteery commented on #77
Oui, je suis totalement d'accord, le wrap, est horrible que ce soit sur petit ou grand écran.
C'est une mauvaise solution.
Donc si quelqu'un sait comment fixer ça (faut correctement styliser le `table` pour pas qu'il
"déborde" de la mauvaise manière)

[2021-02-11 02:22] #91 closed, assigned to AntoineJT

[2021-02-11 06:57] Iltotore opened #94 "Ajout de Scala dans highlights.py"
Le titre dit tout: ceci est une suggestion pour ajouter le langage [Scala](https://scala-lang.org) au projet.

[2021-02-11 07:16] Mesteery commented on #94
https://github.com/readthedocs-fr/bin-server/blob/main/bin/highlight.py#L36.
C'est juste que la version en ligne n'est pas tout à fait à jour.

[2021-02-11 08:54] #94 closed, assigned to nobody

[2021-02-11 09:06] fusetim commented on #94
Oui en effet, le support est là, mais il n'a pas encore été déployé sur https://bin.readthedocs.fr
Toutefois, il marche, tu peux l'essayer ici : https://rtdbin.fusetim.tk/ndwook.scala (version: af67cfa).
(il sera peut-être nécessaire de vider le cache pour le voir)

[2021-02-11 09:10] Mesteery commented on #77
C'est pas un petit bug, mais un gros problème de responsivité, le rendu peut vraiment être horrible :
![Screenshot_20210211-100854_Chrome](https://user-images.githubusercontent.com/48163546/107618100-4cb4cc00-6c51-11eb-9108-41652e523b3a.jpg)

[2021-02-11 09:11] fusetim commented on #77
As-tu pensé à vider le cache ?

[2021-02-11 09:13] Mesteery commented on #77
Il n'y aucune raison pour que ça provienne du cache. Le CSS est à jour (la preuve sur l'image).

[2021-02-11 09:14] fusetim commented on #77
On ne sait jamais, personnellement j'ai un rendu acceptable ![Screenshot_2021-02-11-10-13-25-776_org.mozilla.firefox.jpg](https://user-images.githubusercontent.com/62183512/107618477-e9776980-6c51-11eb-8466-55534015933d.jpg)

[2021-02-11 09:16] fusetim commented on #77
Ah oui non, effectivement le rendu est bon uniquement à l'emplacement d'origine :confused:

[2021-02-11 09:17] Mesteery commented on #77
Oui, c'est le problème, on dirait que la page est zoomé.

[2021-02-11 09:56] Julien00859 commented on #94
Voila, le serveur a été mis à jour sur la dernière main <https://bin.readthedocs.fr/oxialo.scala>

[2021-02-11 13:38] Julien00859 opened #95 "Anchor the few buttons (new, edit, previous) to the lower-left"
My server is running the latest main branch (af67cfa) but you can see by yourself if you scroll down the page, the few buttons don't stay on the buttom left but instead scroll too. I would like they stick on the bottom left. https://bin.readthedocs.fr/angute.py

[2021-02-11 16:10] Mesteery commented on #95
Okay, I'll take care of it.

[2021-02-12 21:06] TNtube opened #98 "Possibilité de supprimer son bin."
Une feature intéressante serait que, au moment du post d'un nouveau bin, l'auteur reçoive un code qu'il peut mettre de côté afin de pouvoir supprimer à tout moment le contenue du bin.

[2021-02-13 04:54] fusetim opened #99 "Support du Drag&Drop"
L'ajout du drag&drop de fichier sur l'interface Web semble une feature à envisager.
Cela demandera sûrement quelques efforts sur le front.

[2021-02-13 09:37] Mesteery commented on #99
C'est très facile à faire, tu veux t'en occuper ?

[2021-02-13 09:38] AntoineJT commented on #99
Je voulais bien m'en occuper, mais je laisse ma place à Tim s'il désire le faire : après tout, c'est son idée

[2021-02-13 09:40] Mesteery commented on #99
*Moi aussi je voulais bien m'en occuper, mais du coup ce sera un de vous deux finalement 😅*

[2021-02-13 10:00] Mesteery commented on #99
Je propose qu'on laisse le comportement par défaut s'il y a plusieurs fichiers/dossiers ou si c'est un fichier binaire (notamment détectable via le type MIME ou l'extension).
Dans le cas contraire, nous pouvons simplement afficher le contenu du fichier dans la textarea, et bien évidemment mettre le bon langage. L'utilisateur pourra donc visualiser son fichier, et pourra soumettre comme d'habitude,

[2021-02-13 12:42] Iltotore opened #100 "Problème d'encodage"
Bonjour,
les accents/caractères non-ASCII semblent ne pas passer correctement sur le paste.

Par exemple, le message `éléphant` donne: https://bin.readthedocs.fr/ordien.txt

[2021-02-13 13:05] fusetim commented on #99
Vous pouvez faire des implés si vous voulez, je suis pas sûr d'avoir les compétences nécessaires pour faire un truc propre la dessus

[2021-02-13 13:40] Mesteery commented on #100
Ha, c'est nouveau ce bug

[2021-02-13 13:43] Mesteery commented on #99
C'est pas grave, tu peux toujours essayer, dans tous les cas, nous sommes là pour te guider et t'aider.

[2021-02-13 14:45] Julien00859 commented on #100
C'est un bug qui vient de mon refactoring quand j'ai tout passé en utf-8, on dirait qu'il reste encore du latin-1 dégueu qqpart, voila deux jours que j'essaie de reproduire le problème avec des tests unitaires mais rien n'y fait. Je vais finir par lancer un wireshark pour voir ce qui passe concrètement sur le réseau.

Merci d'avoir remonter le problème !

[2021-02-13 14:46] Mesteery commented on #100
Je pense pas que ça vient du latin-1, car même en créant un nouveau bin, le bug est présent

[2021-02-13 20:08] Julien00859 commented on #98
Il y a plusieurs problèmes relatifs à cette tâche qui font que ça va être très difficile à faire.

Pour commencer il faut savoir qu'il n'y a pas de compte utilisateur, nous ne gardons dans la base de donnée aucune information relatif à l'auteur d'un snippet. Nous ne voulons pas d'un système de compte car nous estimons que `bin` sert uniquement à vite fait partager un petit snippet de code, l'intér

[2021-02-13 20:11] Aakodal commented on #98
Tu n'as rien dit concernant *sa* proposition, à savoir un code généré lors de la création du bin, un peu comme un rescue code, qui permettrait de le supprimer une fois rentré

[2021-02-13 20:18] Mesteery commented on #98
Alors si, il y a une bonne solution.
Au moment de la création du bin, un token "admin" pourrait être créé et affiché au créateur.
Grâce à ce token "admin", le créateur peut supprimer son bin à tout miment.

**Exemples :**
* un bin est créé, et il est redirigé, un token "admin" est affiché, l'utiliser le sauvegarde.
* un autre jour, cet utilisateur décide de supprimer son bin :
  * soit il va sur `

[2021-02-13 23:00] Julien00859 commented on #98
D'accord, comment on affiche le token au créateur ?

[2021-02-13 23:03] Mesteery commented on #98
1. via la réponse : *Au moment de la création, le token "admin" pourrait également être transmis via un header.*
2. pour le front, le token pourrait être affiché via une popup, par exemple (seulement au premier chargement bien évidemment)

[2021-02-13 23:14] #95 closed, assigned to Julien00859

[2021-02-13 23:22] Julien00859 commented on #98
Tu me fais penser à qqch

1. Toujours générer un nouveau token lorsque l'utilisateur récupère le formulaire original (le mettre dans un champ invisible)
2. Mettre le token dans le localstorage de l'utilisateur, vu que c'est une info générée et non retransmise ya aucun problème niveau cnil/rgpd
3. Récupérer ce token avec la soumission du formulaire, l'enregistrer dans redis
4. Ajouter une URL pour

[2021-02-16 14:33] Julien00859 opened #105 "Weird encoding in curl/multipart"
[code]
[code]
[code]

_Originally posted by @Mesteery in https://github.com/readthedocs-fr/bin-server/issues/102#issuecomment-778780583_

[2021-02-16 14:36] Mesteery commented on #105
**Wireshark trace**: https://github.com/readthedocs-fr/bin-server/files/5988612/analyse.pcapng.gz.

[2021-02-16 14:38] #100 closed, assigned to Julien00859

[2021-02-17 11:41] #105 closed, assigned to nobody

[2021-02-19 00:50] Julien00859 commented on #82
Quelques ressources en plus

* https://stylishthemes.github.io/Syntax-Themes/pygments/
* https://github.com/StylishThemes/Syntax-Themes/

[2021-02-21 22:20] Julien00859 opened #110 "Le cas KaYoXx"
Je fais suite à un incident qu'il y a eu ce dimanche 21 février, un utilisateur a hébergé un malware sur notre service de bin. Des incidents de ce genre sont possibles mais nous devrions prendre des mesures pour pouvoir les atténuer.

Pour cette fois-ci, l'incident m'a été rapporté sur discord et j'ai pu manuellement supprimer le snippet problématique (en plus que de lister le gars dans ma naughly

[2021-02-21 22:22] Julien00859 commented on #110
Des CGU aussi !

[2021-02-22 08:56] #77 closed, assigned to nobody

[2021-02-22 09:03] Julien00859 opened #112 "Packaging Pypi"
Pour le moment je fais la packaging sur Pypi manuellement, j'aimerais automatiser le processus via l'intégration continue. Juste avant qu'une PR est mergée, il faudrait recommiter pour changer le fichier VERSION en fonction du titre du commit ou (prioritaire) d'un tag présent sur la PR.

Pour un commit `fix` on incrémente BUILD, pour les autres commits on incrémente MINOR. Si le tag "Breaking chan

[2021-02-22 14:53] Mesteery commented on #112
Concernant le prompt, on peut spécifier l'username/password dans les variables d'environnement.
Twine ne permet pas de s'authentifier via un token pour le moment.

[2021-02-22 21:16] Julien00859 commented on #112
Ouais donc il va falloir qu'on crée un compte pour rtdbin :/

[2021-02-27 18:04] zazbone opened #114 "Ajouter un guide à la page d'acceuil"
Hello !

Un petit manuel d'utilisation sur la page par défaut du bin permettrait d'éviter d'expliquer aux nouveaux comment l'utiliser

Quand on redirige les nouveaux sur le bin pour les codes longs, il faut souvent leur expliquer le fonctionnement du bin
Le manuel n'aurai pas besoin d'être long. Simplement un peu plus long que le "Entrez votre code" actuel

Exemple:

Cliquez sur le bouton bleu "en

[2021-02-27 19:10] Mesteery commented on #114
Cela se fait assez facilement si tu veux le faire.
https://github.com/readthedocs-fr/bin-server/blob/9cfa02e7f722c91a128729c717749018c23eade9/bin/views/newform.html#L9
Il suffit d'ajouter dans l'attribut `placeholder`.
Pour les sauts de ligne, tu as 2 moyens, soit tu fais un saut de ligne dans le fichier (moche)
[code]
soit (mieux) :
[code]

[2021-02-27 20:11] zazbone commented on #114
Je peux rédiger et pr
Mais s'il je testes avant il va me falloir plus de temps :monkey:

[2021-02-27 20:14] #99 closed, assigned to nobody

[2021-02-27 20:19] Mesteery commented on #114
Pour tester à la limite, t'as juste besoin de Python, pas besoin de Redis, il suffit juste de regarder si la page `/` a correctement été générée avec le bon placeholder !

[2021-02-27 20:20] Julien00859 commented on #114
Je serais même d'avis d'avoir une explication plus complète, genre expliquer ce qu'est un bin, ...

Alors comme mestery l'à laissé entendre un plateholder multiligne ça va rendre dégueu dans le code source mais plutôt que de passer par du code interprété, je pense plutôt qu'on pourrait utiliser une directive bottle pour aller importer un autre fichier, on pourrait avoir un template `placeholder.tx

[2021-02-27 20:40] zazbone commented on #114
Ha c'est ce que je voulais savoir quand j'ai demander si on pouvais link un fichier txt dans de l'html :')
Oui, moin ya de texte dans du code mieu c'est

[2021-02-27 21:14] Julien00859 opened #117 "Héberger une instance redis de testing"
Nous avons eu des retours comme quoi certaines personnes voudraient bien contribuer au développement de bin mais qu'ils étaient ralenti par la nécessité d'héberger un serveur redis de leur côté pour les tests. C'est notamment un problème pour les développeurs sous Windows puisque redis ne propose aucun binaire pour ce système.

Que pensez-vous d'héberger une instance redis pour la communauté des d

[2021-02-27 21:17] Julien00859 commented on #117
Pour limiter les abus il faudrait toutes les protections suivantes:

1. Limiter l'accès via pair de user/pwd généré pour chaque utilisateur faisant la demande d'accéder à cette base de donnée de testing
2. Limiter via ACL la liste des commandes pouvant être exécutés (uniquement celles exécutées par la version stable de bin)
2. Limiter *drastiquement* la taille de la mémoire (quelques MB tout au pl

[2021-02-28 18:17] Julien00859 opened #118 "Word wrap"
Lorsqu'on ouvre un bon sur téléphone (un fichier txt) les phrases sont parfois très longues et nécessitent de scroll vers la droite pour afficher tout le contenu. Pour des fichiers txt le wordwrap peut être intéressant. L'inverse est également pour du code source, il est plus facile de lire du code sans le wordwrap.

Je propose d'ajouter une option pour pouvoir activer le wordwrap à la demande. On

[2021-03-03 17:39] Mesteery opened #119 "Support de langages supplémentaires"
Il faudrait supporter davantage de langages sans pour autant les afficher dans le front.
Ce serai utile d'avoir une liste un peu plus exhaustive de langages supportés (pas forcément affichés dans select), cela permettrait par exemple aux applications tierces de pouvoir mettre du code d'un peu près n'importe quel langage (e.g. bin-vscode uploadant un PowerShell Session). Cela permettrait aussi aux

[2021-03-06 16:39] Julien00859 opened #120 "Better "How to contribute" readme"
Je dois changer le readme pour ajouter la step fork

[2021-03-07 16:02] Mesteery opened #121 "Auto release"
Pour automatiser les releases, nous pouvons utiliser GitHub Actions avec https://github.com/googleapis/release-please et https://github.com/pypa/gh-action-pypi-publish.

Nous devrons aussi suivre [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).
Il faudra aussi ne pas oublier à mettre à jour le *How to contribute* (#120).

[2021-03-07 19:09] Julien00859 commented on #121
Tu as raison, elle est pas très belle cette issue... Qu'est-ce que se dirait @fusetim si il voyait ça en comparaison de #18

[2021-03-16 13:34] NoeMastrorillo commented on #117
Je suis sur Windows et Redis fonctionne très bien avec WSL.

[2021-03-16 16:02] Mesteery commented on #117
Je suis dans le même cas que toi.
Mais je doute fortement qu'une personne n'ayant pas Redis (et donc WSL) sur sa machine ait envie d'installer WSL, puis Redis, juste pour contribuer.

[2021-03-29 00:50] #112 closed, assigned to nobody

[2021-03-29 00:50] #121 closed, assigned to Mesteery

[2021-04-11 20:02] #110 closed, assigned to nobody

[2021-04-12 11:28] Julien00859 opened #132 "Cannot install from sdist, missing VERSION file"
UP vous avez oublié de corriger le fichier MANIFEST.in également https://github.com/readthedocs-fr/bin-server/blob/d75e2841aa40cc13e92666b81b394db2b659805b/MANIFEST.in#L1

_Originally posted by @Julien00859 in https://github.com/readthedocs-fr/bin-server/issues/124#issuecomment-817732557_

[2021-04-12 18:31] #132 closed, assigned to nobody

[2021-04-16 13:58] enimaloc opened #135 "Possibilité de changer le langage du bin par l'UI."
On pourrait ajouter la fonctionnalité de changer le langage du bin directement via une liste comme pour créer un bin, cela pourrait améliorer l'utilisation sur les mobiles, car quand on ouvre un bin sur téléphone celui si vas s'ouvrir dans le navigateur interne de Discord ce qui nous offre pas la possibilité de modifier l'url la seule façon à ce moment là c'est d'ouvrir, le bin dans le navigateur

[2021-04-16 16:40] Mesteery commented on #135
Je trouve qu'il n'y a aucun intérêt à ça, vu que déjà le créateur du bin *a choisi* le bon langage. Et puis même si jamais tu veux changer pour je ne sais quel raison, c'est pas si chiant que ça d'ouvrir dans le navigateur sur mobile.

[2021-04-16 16:43] Julien00859 commented on #135
Il s'avère que 90% des bins sont créé au format plaintext, donc 90% du temps il faut changer l'extension dans l'URL, je suis d'avis qu'on pourrait simplifier l'expérience utilisateur

[2021-04-16 16:59] Mesteery commented on #135
90% ?

[2021-04-16 19:47] Julien00859 commented on #135
$ journalctl -u gunicorn@bin.service | grep -o 'New .*' | cut -d ' ' -f2 | sort | uniq -c | sort -nr
         90 txt
         87 text
         41 python
         19 php
          6 javascript
          6 java
          6 html
          6 c
          5 py
          4 plaintext
          4 js
          3 typescript
          2 css
          1 weight
          1 ts
          1 solidity
          1 li

[2021-04-16 23:57] Mesteery commented on #135
64.43% en comptant `weight` et `solidity`.
Mais du coup, finalement, pourquoi pas :+1:.

[2021-04-17 20:58] enimaloc opened #136 "Bouton `signalé` passe au dessus de la barre de défilement."
Lorsque un bin devient trop grand la barre de défilement apparaît sur la page, ce cas-ci n'est pas gérer pour le bouton `signalé` qui passe au-dessus de la barre de défilement.

![](https://user-images.githubusercontent.com/44118516/115126586-5d2a4f80-9fd0-11eb-89e9-2af2b27cf8fd.png)

[2021-04-19 14:46] NoeMastrorillo commented on #136
À compter que c'est aussi le cas pour les boutons de controls
![image](https://user-images.githubusercontent.com/39499143/115255606-b7d9bd80-a12e-11eb-8c6b-979cc2cb9500.png)

[2021-04-19 15:02] Mesteery commented on #136
Pour le boutons de contrôles, la scrollbar est présente inutilement des fois, c'est fix par #116

[2021-04-19 15:52] NoeMastrorillo commented on #136
Le problème vient du fait que les boutons de contrôles ainsi que le bouton de signalement sont dans un conteneur différent de celui qui a les scroll-bar :
- Pour `newform.html` la scrollbar appartient à la `textarea` tandis que les boutons de contrôles sont dans le `form`.
- Pour `highlight.html` les scrollbars appartiennent à `.highlight` tandis que les boutons de contrôles et le bouton de signal

[2021-04-19 15:58] Mesteery commented on #136
Non, c'est juste qu'ils sont en position `fixed` / `absolute`.

[2021-04-19 18:52] NoeMastrorillo commented on #136
Oui, et bah s'ils étaient dans le même conteneur que celui qui a les scrollbars (avec `position: relative` sur le conteneur parent) on n'aurait pas ce problème là :
![image](https://user-images.githubusercontent.com/39499143/115287978-2d568580-a151-11eb-9887-243b8cf5af8c.png)

[2021-04-19 19:16] NoeMastrorillo commented on #136
Quand je fetch ta PR c'est pas fix, il suffit juste d'enlever le `overflow-x: scroll` (d'ailleurs il fout quoi ici ???).

[2021-04-19 19:24] Mesteery commented on #136
oui en fait je m'étais trompé cette PR ne le fix pas. Sinon, si, ils sert. (pour fix faut juste mettre `overflow-x: auto` au lieu de `scroll`)

[2021-04-22 18:32] #98 closed, assigned to Mesteery

[2021-05-06 21:43] Mesteery commented on #117
Il est possible, gratuitement, et très facilement/rapidement, d’héberger une instance Redis de test.
1. La première solution est de simplement proposer d'utiliser [RedisLabs](https://redislabs.com/try-free/) qui suffit largement en Free (30 Mb).
2. La deuxième solution est de nous même fournir le lien et le password vers une instance RedisLabs (sans faire grand chose d'autre, de toute façon il y a

[2021-06-02 17:25] Mesteery opened #147 "front: meilleur UX pour supprimer ses bins"
Vu la complexité énorme de cette PR. Je vais enlever l'enregistrement du token dans le localStorage. On discutera de ça dans une issue.
Alors, l'utilisateur devrait spécifier manuellement le token.

_Originally posted by @Mesteery in https://github.com/readthedocs-fr/bin-server/issues/116#issuecomment-822543760_

----

Actuellement la suppression d'un bin via l'interface est vraiment pas pratique,

[2021-06-02 17:51] fusetim commented on #147
Il n'est pas forcément nécessaire d'avoir le localStorage depuis les SW pour le faire, il serait possible de manipuler le cache pour les y sauvegarder dedans (`Cache.put()`).
Je ne sais pas si c'est particulièrement idiomatique mais ça pourrait fonctionner.

[2021-06-02 17:52] Mesteery commented on #147
~~C'est pas du tout adapté à ce genre d'usage.~~ Quoi que, ça m'a pas l'air déconnant.

[2021-06-02 18:01] fusetim commented on #147
Bon après un peu de recherche, c'est IndexedDB qui est préféré pour cette usage mais c'est aussi plus compliqué à utiliser.

[2021-06-02 18:03] Mesteery commented on #147
Oui, par contre, personnellement, je trouve IDB un peu overkill pour cet usage.

[2021-06-02 18:05] fusetim commented on #147
Pour moi aussi mais théoriquement c'est là où il faudrait les sauvegarder, mais dans notre cas, utiliser l'interface Cache me semble pas être une aberration.

[2021-06-02 18:30] Mesteery commented on #147
Comme tu veux, pour moi ça m'est égal.

[2021-06-03 09:10] Julien00859 commented on #147
Sinon, on big cookie boi mais essayons avec le cache dans un premier temps, on n'y avait pas pensé à l'époque où on a designer la suppression

[2021-06-03 13:03] Julien00859 opened #148 "front: faire en sorte que les buttons soient pas sur la scrollbar"
C'est moche:

![2021-06-03_15-02-14](https://user-images.githubusercontent.com/8208953/120649285-ddbbe700-c47c-11eb-9219-e11bc636bf24.png)

[2021-06-03 14:00] Mesteery commented on #148
duplicate #136

[2021-06-03 14:00] #148 closed, assigned to nobody

[2021-06-26 18:25] Julien00859 opened #149 "local variable 'token' referenced before assignment"
Error 500 lorsque j'ai upload un fichier sans formulaire et via multipart

	Traceback (most recent call last):
	  File "/usr/local/bin/bottle.py", line 868, in _handle
	    return route.call(**args)
	  File "/usr/local/bin/bottle.py", line 1748, in wrapper
	    rv = callback(*a, **ka)
	  File "/usr/local/lib/python3.7/dist-packages/bin/controller.py", line 129, in post_new
	    if token and len(to

[2021-06-28 07:02] #149 closed, assigned to nobody

[2021-08-16 12:00] Mesteery opened #154 "Switch to pyproject.toml?"

[2021-08-16 12:04] Julien00859 commented on #154
The change would be trivial in the source code, what would not be trivial is to update every piece of documentation plus the CD pipeline to use [build](https://pypi.org/project/build/) instead of `python setup.py ...`. I'm not sure this repository would have an immediate benefit.

[2021-08-16 12:09] Mesteery commented on #154
I thought it was easier. It would get rid of `version.txt` and have better `changelog-types` (release-please).
But I could add these changelog-types to have a more complete changelog : `[{"type":"feat","section":"Features"},{"type":"fix","section":"Bug Fixes"},{"type":"perf","section":"Performance Improvements"},{"type":"deps","section":"Dependencies"},{"type":"revert","section":"Reverts"},{"type"

[2021-11-19 16:25] #114 closed, assigned to nobody

[2021-11-26 14:45] Julien00859 commented on #117
Up, le serveur tourne maintenant avec bulleyes et on a donc redis v6. L'approche que je conseillerais serait de s'informer comment utiliser ces ACL pour sécuriser le serveur redis par un combo user/pwd ou bien un token d'accès. Il faudra surement changer la config et le code de bin pour permettre à bin de s'authentifier.

[2021-11-27 13:48] #154 closed, assigned to nobody

[2021-11-29 12:24] #135 closed, assigned to nobody

[2021-11-29 12:24] #119 closed, assigned to Mesteery

[2022-04-11 21:09] jonathanpoelen opened #162 "Naviguer avec le clavier sans avoir à cliquer ou tabuler"
Actuellement, lorsque la page est chargée, le focus ne se trouve pas sur l'élément scrollable et page down ne fonctionne pas. Il faut impérativement faire un clic ou utiliser tab pour prendre le focus.

Cela semble lié à la propriété flex du css.

[2022-08-02 16:08] Julien00859 opened #163 "POST /new -> 201 Location: ... instead of 3xx"
https://github.com/readthedocs-fr/bin-server/blob/9f39fef7feeb621cfa98c2a2e1e08f04a529dd55/bin/controller.py#L151

https://datatracker.ietf.org/doc/html/rfc9110#section-8.7

[2022-08-08 12:56] Julien00859 commented on #163
an origin server redirect the user agent to that resource by sending a 303 (See Other)
response with the existing resource's identifier in the Location field. This has the benefits of
providing the user agent a resource identifier and transferring the representation via a method
more amenable to shared caching, though at the cost of an extra request if the user agent does
not already have the repr

[2022-09-10 12:07] Julien00859 opened #164 "/delete route is not http compliant (401/403/Authorisation/WWW-Authorisation)"
Reading the [HTTP Spec](https://httpwg.org/specs/rfc9110.html#authentication) there are several problems with the /delete route.

1. When the Authorization header is missing or that the scheme is invalid, the response must be a 401 response with a WWW-Authenticate header.
2. When the Authorization header is present and the scheme valid but that the code is invalid, the response must be a 403 respo

[2022-09-10 12:41] Julien00859 opened #165 "Cache / and /raw responses"
Snippets are immutable, we could benefit from using cache e.g. `Cache-Control`, `Last-Modified` and `ETag`

[2022-09-10 15:27] Julien00859 commented on #163
Firefox doesn't automatically redirection upon 201+Location

[2022-09-10 15:27] #163 closed, assigned to nobody

[2022-09-11 17:02] Mesteery commented on #164
Do you mean `WWW-Authenticate`?

[2022-09-17 09:04] x0rld opened #167 "front: ajouter un bouton pour accéder au /raw d'un bin"